.tdog {
    width: 100%;
    height: 700px;
}

.SurveyButton {
    position: absolute;
    left: 17%;
    top: 50%;
    background-color: #7E6060;
    color: aliceblue;
    border: none;
}

.inImj {
    position: absolute;
    top: 25%;
    left: 5%;
    word-spacing: 10px;
    font-size: xxx-large;
    box-sizing: border-box;
    text-align: center;
}

.bdog {
    position: absolute;
    width: 20%;
    top: 150%;
    left: 5%;
}

.HIW {
    position: absolute;
    left: 45%;
    top: 125%;
}

.midText {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    left: 28%;
    top: 165%;
    border: 2px solid black;
    height: 423px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.midText h2 {
    margin: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boxes img {
    width: 20%;
    margin: 20px;
}

.boxes {
    position: absolute;
    left: 10%;
    border: 2px solid black;
    top: 240%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 80%;
    text-align: center;
}

.Packages {
    position: absolute;
    height: 200px;
    display: flex;
    left: 25%;
    top: 260%;
}

.Packages h3 {
    margin: 40px;
    margin-right: 110px;
    display: flex;
    text-align: center;
}